* {

    box-sizing: border-box;

}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header {

    padding: 1rem;
    height: 80px;
    border-bottom: 1px solid black;

}

.logo {
    float: left;
    font-size: 2rem;
    font-weight: bold;
    line-height: 48px;
}

.nav {
    float: right;
    line-height: 48px;
}

.nav a {
    display: inline-block;
    margin-left: 1.5rem;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    vertical-align: middle;
}

.search {
    float: right;  
    font-size: 1.5rem;
    margin-left: 1.2rem;
    line-height: 48px;
}

.header::after {
    content: "";
    display: block;
    clear: both;
}