.pricing-card {
    width: 500px;
    height: 500px;
    padding: 30px;
    margin: 50px auto;
    border: 1px solid black;
    border-radius: 15px;

    background-image: url("burger.jpg");
    background-size: cover;
    background-position: center;

}

.pricing-card h2 {
    color: rgb(255, 156, 75);
    font-size: 33px;
    margin-bottom: 20px;
    text-align: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    -webkit-text-stroke: 2px black;
    position: relative;
    left: 32px;
    top: 35px;
}

.price { font-size: 27px;
     text-align: right; 
     background-color: rgb(255, 156, 75);
     padding: 7px 15px;
      border-radius: 8px;
       display: inline-block;
        position: relative; 
        right: -350px; 
        top: 40px; 
 }


.pricing-card ul {
    position: relative;
    text-align: right;
    margin: 20px 0;
    padding-right: 10px;
     list-style-type: square;

      list-style-position: inside;
    text-align: right;
}
    

.pricing-card li {
    margin-bottom: 50px;
    position: relative;
    top: 30px;
    font-size: 18px;
    color: rgb(255, 156, 75);
    font-size: 22px;
    text-align: right;
}

.pricing-card button {
    padding: 12px 30px;
    margin-top: 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    right: -350px;
    top: 10px;
    font-weight: bold;
    font-size: 16px;
    background-color: rgb(255, 156, 75);
}

.pricing-card button:hover {
    background-color: black;
    color: white;
    transform: scale(1.2);
}